
// Column width with margin
@mixin column-width($numberColumns: 3) {
    width: map-get($columns, $numberColumns) - (($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

@mixin tablet {
    @media only screen and (max-width:65em) {
        @content;
    }
}

@mixin phone {
    @media only screen and (max-width:37.5em) {
        @content;
    }
}

body {
    background-color: cyan;
}

@include tablet {
    body {
        background-color: black;
    }
}

@include phone {
    body {
        width: 100%;
        margin: auto;

        header {
            background-color: blue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        nav {
            background-color: red;
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            div {
                border: black solid 1px;
                width: 100%;

                h1 {
                    text-align: center;
                }
            }

        }

        section {
            background-color: yellow;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #bloc1,
            #bloc2,
            #bloc3 {
                background-color: green;
                width: 50vw;
                height: 200px;
                text-align: center;
                margin-top: 5vh;
                align-items: center;

                h1 {
                    font-size: 2rem;
                }
            }

            #bloc1,
            #bloc3 {
                transform: translateX(-30vw);
            }

            #bloc2 {
                transform: translateX(30vw);
            }
        }
    }
}
